### pandas 02

In this notebook we will explore index of dataframe, set/reset default index to other unique column of dataframe.

|S.No|Action|Command|Input|Output|
|:----|:-----|:-----:|:-----:|:-----:|
|1|Check the index of this dataframe|df.index||details of index|
|2|Set the index of dataframe to given column |df.set_index('column-name', inplace=True)|column-name|None if inplace=True|
|3|Reset the index of dataframe to given column|df.reset_index(inplace=True) |-|None if inplace=True|
|4|Set index at the time of df creation|pd.read_csv('netflix_titles.csv',index_col='show_id') |columnname|dataframe|
|5|Sort the data, base on index|df.sort_index(ascending=False, inplace=True) |-|None if inplace=True|

In [1]:
import pandas as pd
print("Let's start exploring", '\U0001F43C' , 'using',"\U0001F40D")

Let's start exploring üêº using üêç

In [2]:
# read the csv file as pandas dataframe. Dataset from https://www.kaggle.com/
df = pd.read_csv('netflix_titles.csv')

In [3]:
# check the first column of this dataframe, it not present in your csv
df.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,NaN,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,NaN,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...

In [4]:
# 1. Check the index this dataframe
df.index

RangeIndex(start=0, stop=6234, step=1)

By default there is some number is index for all the rows. This index no. is created by the pandas you can change it to any of the unique identoifier of row, as per your requirement.
In this example show_id is identoifier, hence we can set this column as default index rather than number.

In [5]:
df.show_id

0       81145628
1       80117401
2       70234439
3       80058654
4       80125979
          ...
6229    80000063
6230    70286564
6231    80116008
6232    70281022
6233    70153404
Name: show_id, Length: 6234, dtype: int64

In [6]:
# 2. Set the index of dataframe to given column
df.set_index('show_id', inplace=True)

In [7]:
df.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
81145628,NaN,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
80117401,NaN,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

```python
df.reset_index(inplace=True) 
```
To reset the index as defuat RangeIndex

In [8]:
df.index

Int64Index([81145628, 80117401, 70234439, 80058654, 80125979, 80163890,
            70304989, 80164077, 80117902, 70304990,
            ...
            70304979, 70153412, 70243132, 80005756, 80159925, 80000063,
            70286564, 80116008, 70281022, 70153404],
           dtype='int64', name='show_id', length=6234)

Now we dont have that default integer as index, we can now select rows on the basis of show_id in loc

In [9]:
df.loc[81145628]

type                                                          NaN
title                     Norm of the North: King Sized Adventure
director                                 Richard Finn, Tim Maltby
cast            Alan Marriott, Andrew Toth, Brian Dobson, Cole...
country                  United States, India, South Korea, China
date_added                                      September 9, 2019
release_year                                                 2019
rating                                                      TV-PG
duration                                                   90 min
listed_in                      Children & Family Movies, Comedies
description     Before planning an awesome wedding for his gra...
Name: 81145628, dtype: object

#### Another way to set the index, at a time of datatframe creation.

In [10]:
# 4. Set index at the time of df creation
newdf1 = pd.read_csv('netflix_titles.csv',index_col='show_id')

In [11]:
newdf1.index

Int64Index([81145628, 80117401, 70234439, 80058654, 80125979, 80163890,
            70304989, 80164077, 80117902, 70304990,
            ...
            70304979, 70153412, 70243132, 80005756, 80159925, 80000063,
            70286564, 80116008, 70281022, 70153404],
           dtype='int64', name='show_id', length=6234)

In [12]:
# 5. Sort the data, base on index
newdf1.sort_index(ascending=True, inplace=True)

In [13]:
newdf1.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
247747,Movie,Amar Akbar Anthony,Manmohan Desai,"Vinod Khanna, Rishi Kapoor, Amitabh Bachchan, ...",India,"December 31, 2019",1977,TV-14,172 min,"Action & Adventure, Classic Movies, Comedies","Abandoned in a park by their father, Amar, Akb..."
269880,Movie,Bad Boys,Michael Bay,"Will Smith, Martin Lawrence, T√©a Leoni, Tch√©ky...",United States,"October 1, 2019",1995,R,119 min,"Action & Adventure, Comedies","In this fast-paced actioner, two Miami narcoti..."
281550,Movie,La Bamba,Luis Valdez,"Lou Diamond Phillips, Esai Morales, Rosanna De...",United States,"January 1, 2020",1987,PG-13,109 min,"Classic Movies, Dramas, Music & Musicals",The plane crash that killed Buddy Holly also t...
284890,Movie,Barsaat,Rajkumar Santoshi,"Twinkle Khanna, Bobby Deol, Danny Denzongpa, R...",India,"April 1, 2018",1995,TV-PG,166 min,"Action & Adventure, International Movies, Musi...",A na√Øve young man and a rich city girl fall in...
292118,Movie,Beavis and Butt-head Do America,Mike Judge,"Mike Judge, Bruce Willis, Demi Moore, Cloris L...",United States,"November 20, 2019",1996,PG-13,81 min,"Comedies, Cult Movies","After realizing that their boob tube is gone, ..."

In [14]:
# now movie title is the index
newdf2 = pd.read_csv('netflix_titles.csv',index_col='title')

In [15]:
# filter the row on the basis of the movie title.
newdf2.loc['Transformers Prime']

show_id                                                  70234439
type                                                      TV Show
director                                                      NaN
cast            Peter Cullen, Sumalee Montano, Frank Welker, J...
country                                             United States
date_added                                      September 8, 2018
release_year                                                 2013
rating                                                   TV-Y7-FV
duration                                                 1 Season
listed_in                                                Kids' TV
description     With the help of three human allies, the Autob...
Name: Transformers Prime, dtype: object

In [16]:
# Full column value
newdf2.loc['Transformers Prime','description']

'With the help of three human allies, the Autobots once again protect Earth from the onslaught of the Decepticons and their leader, Megatron.'